In [1]:
!python --version

Python 3.8.8

In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\beatriz.soares.silva\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\beatriz.soares.silva\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\beatriz.soares.silva\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\beatriz.soares.silva\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\beatriz.soares.silva\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pan

In [3]:
import sys

In [4]:
data = ['segunda',
        'terça',
        'quarta',
        'quinta',
        'sexta',
        'sabado',
        'domingo']

In [5]:
week = pan.Series(data)

week

0    segunda
1      terça
2     quarta
3     quinta
4      sexta
5     sabado
6    domingo
dtype: object

In [7]:
empty_dataframe = pan.DataFrame()

In [8]:
print(empty_dataframe)

Empty DataFrame
Columns: []
Index: []

In [9]:
semana = pan.DataFrame(data)

In [10]:
print(semana)

         0
0  segunda
1    terça
2   quarta
3   quinta
4    sexta
5   sabado
6  domingo

In [11]:
print(semana.type)

AttributeError: 'DataFrame' object has no attribute 'type'

In [12]:
riquinhos = ['Silvio Santos', 'Madonna', 'Neymar', "Ai q loucura", 'Elon', 'Bill']

In [13]:
print(riquinhos)

['Silvio Santos', 'Madonna', 'Neymar', 'Ai q loucura', 'Elon', 'Bill']

In [14]:
rico = pan.DataFrame(riquinhos)

In [15]:
rico

               0
0  Silvio Santos
1        Madonna
2         Neymar
3   Ai q loucura
4           Elon
5           Bill

In [18]:
rico = pan.DataFrame(riquinhos,
                    columns = ['ricos'])

In [19]:
rico

           ricos
0  Silvio Santos
1        Madonna
2         Neymar
3   Ai q loucura
4           Elon
5           Bill